In [ ]:
import pandas as pd
from sqlalchemy import create_engine
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [ ]:
# establish a database connection
engine = create_engine("postgres+psycopg2://postgres:postgres@localhost:5432/lahman_baseball")

Find all players in the database who played at Vanderbilt University.
Create a list showing each player’s first and last names as well as the total salary they earned in the major leagues.
Sort this list in descending order by the total salary earned.
Which Vanderbilt player earned the most money in the majors?

In [ ]:
# use the connection to run a query using pandas!
people_df = pd.read_sql("SELECT * FROM people;", con=engine)
schools_df = pd.read_sql("SELECT * FROM schools;", con=engine)
college_playing_df = pd.read_sql("SELECT * FROM collegeplaying;", con=engine)
salaries_df = pd.read_sql("SELECT * FROM salaries;", con=engine)

In [ ]:
people_college = pd.merge(people_df, college_playing_df, how = 'inner', on = 'playerid')

In [ ]:
people_college = pd.merge(people_college, schools_df, how = 'inner', on = 'schoolid')

In [ ]:
people_college = pd.merge(people_college, salaries_df, how = 'inner', on = 'playerid')

In [ ]:
people_college.columns

In [ ]:
people_college[(people_college['schoolid']=='vandy')][['namefirst', 'namelast', 'salary']].sort_values('salary', ascending = False).drop_duplicates(['namefirst', 'namelast'])

#### Different approach after Diego code

In [ ]:
people_college[(people_college['schoolid']=='vandy')].groupby(['playerid', 'namefirst', 'namelast']).sum().sort_values('salary', ascending = False)['salary'].reset_index()

Using the fielding table, group players into three groups based on their position: label players with position OF as "Outfield", those with position "SS", "1B", "2B", and "3B" as "Infield", and those with position "P" or "C" as "Battery".
Determine the number of putouts made by each of these three groups in 2016.

In [ ]:
fielding_df = pd.read_sql("SELECT * FROM fielding;", con=engine)

In [ ]:
fielding_df.head()

In [ ]:
def label_fielding_pos(pos):
    if pos == 'OF':
        label = 'Outfield'
    elif pos in ["SS", "1B", "2B", "3B"]:
        label = "Infield"
    elif pos in ["P", "C"]:
        label = 'Battery'
    else:
        print(pos)
        label = 'NO POS'
    return label

In [ ]:
fielding_df['pos_cat'] = fielding_df['pos'].apply(label_fielding_pos)

In [ ]:
fielding_df[fielding_df['yearid']==2016].groupby('pos_cat').sum()['po'].reset_index()

From 1970 – 2016, what is the largest number of wins for a team that did not win the world series?
What is the smallest number of wins for a team that did win the world series?
Doing this will probably result in an unusually small number of wins for a world series champion – determine why this is the case.
Then redo your query, excluding the problem year.
How often from 1970 – 2016 was it the case that a team with the most wins also won the world series?
What percentage of the time?

In [ ]:
teams_df = pd.read_sql("SELECT * FROM teams;", con=engine)

In [ ]:
teams_df.head()

In [ ]:
teams_df_sub = teams_df[teams_df['yearid'].isin(list(range(1970,2017)))]

In [ ]:
ws_win_dict = {}
for year, df in list(teams_df_sub.groupby('yearid')):
    try:
        no_ws_win_max = max(df[df['wswin'] == 'N']['w'])
        ws_win_min = min(df[df['wswin'] == 'Y']['w'])
        ws_win_dict[year] = {'no_ws_win_max':no_ws_win_max, 'ws_win_min': ws_win_min}
    except ValueError:
        print(year, 'has bad data')
print("Most wins without winning WS:", max([v['no_ws_win_max'] for k, v in ws_win_dict.items()]))
print("Fewest wins winning WS:", min([v['ws_win_min'] for k, v in ws_win_dict.items()]))

In [ ]:
teams_df_sub[teams_df_sub['yearid']==1994][['wswin', 'w', 'yearid']]

In [ ]:
ws_win_dict.pop([k for k, v in ws_win_dict.items() if v['ws_win_min'] == 63][0])

In [ ]:
print("Most wins without winning WS:", max([v['no_ws_win_max'] for k, v in ws_win_dict.items()]))
print("Fewest wins winning WS:", min([v['ws_win_min'] for k, v in ws_win_dict.items()]))

In [ ]:
counter = 0
for k, v in ws_win_dict.items():
    if v['ws_win_min'] > v['no_ws_win_max']:
        counter += 1
print("Number of times WS winner also had most wins:", counter)
print("Percent of the time:", counter/len(ws_win_dict))

Which managers have won the TSN Manager of the Year award in both the National League (NL) and the American League (AL)?
Give their full name and the teams that they were managing when they won the award.

In [ ]:
awards_managers_df = pd.read_sql("SELECT * FROM awardsmanagers;", con=engine)

In [ ]:
awards_managers_df = pd.merge(awards_managers_df, people_df[['playerid', 'namefirst', 'namelast']], how = 'left', on = 'playerid')

In [ ]:
awards_managers_df.head()

In [ ]:
tsn_nl_al = awards_managers_df[(awards_managers_df['awardid'] == 'TSN Manager of the Year')&
                               (awards_managers_df['lgid'].isin(['NL', 'AL']))]

In [ ]:
tsn_vc = tsn_nl_al.drop_duplicates([c for c in tsn_nl_al.columns if c != 'yearid'])['playerid'].value_counts()

In [ ]:
tsn_win_twice = tsn_nl_al[tsn_nl_al['playerid'].isin(tsn_vc[tsn_vc > 1].index)].drop_duplicates(
    [c for c in tsn_nl_al.columns if c != 'yearid']).sort_values('playerid')

In [ ]:
tsn_win_twice

#### Adding in team name

In [ ]:
managers_df = pd.read_sql("SELECT * FROM managers;", con=engine)

In [ ]:
tsn_win_twice = pd.merge(tsn_win_twice, managers_df[['playerid', 'yearid', 'teamid']], how = "left", on = ['playerid', 'yearid'])

In [ ]:
pd.merge(tsn_win_twice, teams_df[['teamid', 'yearid', 'name']], how = 'left', on = ['teamid', 'yearid']).drop_duplicates()

---

Analyze all the colleges in the state of Tennessee.
Which college has had the most success in the major leagues.
Use whatever metric for success you like - number of players, number of games, salaries, world series wins, etc.

In [ ]:
people_college_tn = people_college[people_college['schoolstate']=='TN']

In [ ]:
people_college_tn.columns

#### After looking at data dropping duplicates may not have been best approach. Now similar to what Mary expected

In [ ]:
total_salary = 0
tn_school = None
for school, df in people_college_tn.groupby('schoolid'):
    school_salary = sum(df['salary'])#.sort_values('salary').drop_duplicates('playerid')
    if school_salary > total_salary:
        total_salary = school_salary
        tn_school = school
print("{} had the highest total salary amount players with {}".format(tn_school, total_salary))

In [ ]:
mean_salary = 0
tn_school = None
for school, df in people_college_tn.groupby('schoolid'):
    school_salary = np.mean(df['salary'])#.sort_values('salary').drop_duplicates('playerid')
    if school_salary > mean_salary:
        mean_salary = school_salary
        tn_school = school
print("{} had the highest average salary amount players with {}".format(tn_school, mean_salary))

In [ ]:
num_players = 0
tn_school = None
for school, df in people_college_tn.groupby('schoolid'):
    school_players = len(df.drop_duplicates('playerid'))
    if school_players > num_players:
        num_players = school_players
        tn_school = school
print("{} had the highest number of players with {}".format(tn_school, num_players))

Is there any correlation between number of wins and team salary?
Use data from 2000 and later to answer this question.
As you do this analysis, keep in mind that salaries across the whole league tend to increase together, so you may want to look on a year-by-year basis.

In [ ]:
salaries_teams = pd.merge(salaries_df, teams_df, how = 'inner', on = ['teamid', 'yearid'])

In [ ]:
salaries_teams_sub = salaries_teams[salaries_teams['yearid'].isin(list(range(2000, 2018)))]

In [ ]:
salaries_teams_sub.columns

In [ ]:
g = sns.FacetGrid(salaries_teams_sub, col = 'yearid', col_wrap=6)
g.map(plt.scatter, 'salary', 'w');

It is thought that since left-handed pitchers are more rare, causing batters to face them less often, that they are more effective.
Investigate this claim and present evidence to either support or dispute this claim.
First, determine just how rare left-handed pitchers are compared with right-handed pitchers.
Are left-handed pitchers more likely to win the Cy Young Award?
Are they more likely to make it into the hall of fame?

In [ ]:
awards_players_df = pd.read_sql("SELECT * FROM awardsplayers;", con=engine)
pitching_df = pd.read_sql("SELECT * FROM pitching;", con=engine)
hof_df = pd.read_sql("SELECT * FROM halloffame;", con=engine)

In [ ]:
people_df.shape

In [ ]:
pitching_awards = pd.merge(people_df, pitching_df, how = 'inner', on = 'playerid')
pitching_awards = pd.merge(pitching_awards, awards_players_df, how = 'left', on = ['playerid'])
pitching_awards = pd.merge(pitching_awards, hof_df, how = 'left', on = ['playerid'])

In [ ]:
len(pitching_awards[pitching_awards['throws']=='L'].drop_duplicates('playerid'))/len(pitching_awards.drop_duplicates('playerid'))

In [ ]:
cy_young_winner = pitching_awards[pitching_awards['awardid']=='Cy Young Award'].drop_duplicates('playerid')

In [ ]:
len(cy_young_winner[cy_young_winner['throws']=='L'])/len(cy_young_winner)

In [ ]:
hof_pitchers = pitching_awards[pitching_awards['inducted'].notnull()].drop_duplicates('playerid')

In [ ]:
sum(hof_pitchers['throws']=='L')/len(hof_pitchers)